ul{
    list-style-type: none;
    background-color: lightblue;
}
ul li{
    display:inline-block;
}
body{
    margin: 0;
}
    li{
        color:black;
padding: 30px;

    }
    .help
    {
        position:fixed;
        right:0;
    }
    li:hover{
        background-color:aliceblue;
    }
    a{
        text-decoration:none;
        color:black;
    }
    .dropdown{
        position:relative;
    }
    .dropdown-content
    {
        position:absolute;
        display:none;
        background-color:rgb(200,200,240);
        padding:12px 16px;
        color:black;
    }
    .dropdown:hover .dropdown-content{
        display:block;
    }
    